@charset "utf-8";
/* ==========================================================================
   1. CSS Reset Code
   ========================================================================== */

/* 1.1. Eric Meyers Reset
   http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
   ========================================================================== */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img,
ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure,
figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* Force scrollbar */
html { overflow-y: scroll; }

/* Align radios and text inputs with their label */

input[type='radio'] { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label,
input[type='button'],
input[type='submit'],
button {
  cursor: pointer;
}

strong {
  font-weight: bold;
  font-family: inherit;
  font-size: inherit;
}

em { font-style: italic; }

img {
  width: 100%;
  border: 0;
  vertical-align: middle;
}

sub,
sup {
  vertical-align: baseline;
  position: relative;
  font-size: 55%;
  line-height: 0;
}

sup { top: -.7em; }
sub { bottom: -.25em; }

/* 1.2. Clear Fix
   ========================== */

.cf:before,
.cf:after {
  display: table;
  content: " ";
}

.cf:after { clear: both; }
.cf { *zoom: 1; }

/*for all*/
body {
  box-sizing: border-box;
  font-family: sans-serif;
}

a { 
  display: inline-block;
  text-decoration: none; 
}

li {
  display: inline-block;
  list-style-type: none;
}

/*for wrapper*/
.wrapper {
  max-width: 1360px;
  width: 100%; 
  margin: 0 auto;
}
/*=================================
  Header styling starts here
=================================*/
.container {  width: 100%;}
header{
  margin:;
}
h1 {
  display: inline-block;
  width: 14%;
  margin-left: 1.5%;
  margin-top: 1.5%;
}
 header form {
  display: inline-block;
  width: 20%;
  margin-left: 2%
 }
header input[type=text] {
  font-size: 22px;
  padding-right: 10%;
  padding-left: 15%;
  border: none;
}
nav { 
  display: inline-block;
  width: 45%;
  margin-left: 16.5%;
}
nav li {
  padding-right: 3%;
  vertical-align: middle;
}
nav ul li a {
  font-size: 12px;
  font-weight:bold;
  color: rgb(139, 139, 139);
  text-transform: uppercase;
}
nav li span{
  display: block;
  text-align: center;
  font-size: 10px;
  text-transform: capitalize;
}
/*=================================
  Header styling ends here
=================================*/  

/*=================================
  main styling starts here
=================================*/
.banner{
  position: relative;
}
.links{
position: absolute;
top: 94%;
margin-left: 2%;
}
.links a{
  color: #fff;
  border: 2px solid rgb(20, 22, 19);
  border-radius: 10%;
  background-color: rgb(20, 22, 19);
  padding:10px;;
}
.save{
  text-indent: -9999px;
  display: inline-block;
}
.save::before{
  content:"\f02e";
  font-family: fontAwesome;
  color: #fff;
  float: right;
  text-indent: 0;
  padding: px;
}
.facebook{
  text-indent: -9999px;
  display: inline-block;
}
.facebook::before{
  content:"\f082";
  font-family: fontAwesome;
  color: #fff;
  float: right;
  text-indent: 0;
  padding: px;
}
.Pinterest{
  text-indent: -9999px;
  display: inline-block;
}
.Pinterest::before{
  content:"\f231  ";
  font-family: fontAwesome;
  color: #fff;
  float: right;
  text-indent: 0;
  padding: px;
}
.Redirect{
  text-indent: -9999px;
  display: inline-block;
}
.Redirect::before{
  content:"\f5eb";
  font-family: fontAwesome;
  color: #fff;
  float: right;
  text-indent: 0;
  padding: px;
}
section{ 
  position: absolute;
  top: 30%;
  left: 65%;
  width: 29%;
  background-color: #fff;
}
h2{
  text-transform: capitalize;
  font-size: 40px;
  text-align: center;
  width: 92%;
  margin-bottom: 10px;
  margin-top: 10%;
  margin-left: 4%;
}
section p{
  font-size: 18px;
  width: 72%;
  text-align: center;
  margin-left: 15%;
  margin-bottom: 5%;
}
section figure{
  text-align: center;
  margin: 10%;
}
section figcaption{
  text-transform: uppercase;
  display: inline;
  font-size: 15px;
  font-weight: bold;
}
section figure img{
  width: 15%;
  border-radius: 50%;
}
section span{
  text-transform: capitalize;
  border-radius: 50%;
  position: absolute;
  border: 2px solid red;
  background-color: red;
  color: white;
  padding: 6%;
  left: 85%;
  top: -15%;
}
/* banner styles end */
/* what to cook styles start */
.main-wrapper{
  max-width: 100%;
  width: 81.20%;
  margin: 0 auto;
}
.cook-head{
  text-align: center;
  margin-bottom: 5%;
}
h3{
  text-transform: capitalize;
  font-size: 40px;
  font-weight: bold;
  margin-top: 5%;
  margin-bottom: 2%;
}
.cook-head span{
  text-transform: uppercase;
  font-size: 17px;
}
h4{
  font-size: 35px;
  text-transform: capitalize;
}
.slider-head{  margin-bottom: 3%;}
.slider-head p{
  text-transform: capitalize;
  font-size: 28px;
  color: rgb(169, 168, 163);
}
.slider ul{
  width: 90%;
}
.slider li{
  width: 24%;
}
.slider li img{
  position: relative;
  width:  100%;
  height: auto;
  background-position: 50% 50%;
  background-repeat:no-repeat;
  background-size:cover;
}
h5{
  font-size: 20px;
  font-weight: bold;
  text-transform: capitalize;
  margin: 2% 0;
}
.chef{
  display: block;
  margin-bottom: 15%;
  font-size: 15px;
  color: rgb(169, 168, 163);
}
.slider li span{
  font-size: 10px;
  color: rgb(169, 168, 163);
}
.bookmark{
  text-indent: -9999px;
  display: inline-block;
}
.bookmark::before{
  content:"\f02e";
  font-family: fontAwesome;
  color: black;
  float: right;
  text-indent: 220PX;
  padding: px;
  text-align: 
}
/* editors section starts */
/*=================================
  main styling ends here
=================================*/

/*=================================
  footer styling starts here
=================================*/ 







 /*=================================
  footer styling ends here
=================================*/ 

/*media query starts*/
/*media query for 995px starts here*/
@media only screen and (max-width: 995px) {



}  